You are working in a bank, and you have been given two lists of the employees who worked in 2021. Employees’ names in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita. Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
List1=["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob","Saritha"]
List2=["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita"]
b=set(List1)
d=set(List2)
c=b & d
print(c)

{'Mahesh', 'Ali', 'Jacob'}

While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and converts them into a list. Once converted into a list, please write a program that adds their age.

In [ ]:
a="Ramesh Suresh Mohit"
b=a.split()
print(b)
b[0:3]=["Ramesh: 25","Suresh: 22", "Mohit: 26"]
print(b)

['Ramesh', 'Suresh', 'Mohit']
['Ramesh: 25', 'Suresh: 22', 'Mohit: 26']

 You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin, and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49, and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, the total cost of all medicine, and how much money you refunded to the patient.

In [ ]:
medecine_price={'paracetamol':35,'azithromycin':49,'Vitamin C':33}
purchase_qty={'paracetamol':2,'azithromycin':3,'Vitamin C':5}
patient_gv=2000
tp=0
medecines=['paracetamol','azithromycin','Vitamin C']

for p,q in purchase_qty.items():
  if p in medecine_price:
    z=medecine_price[p]*q

    print("Total price of",p,z)

    tp+=medecine_price[p]*q

  else:
    print(p, "it is not available")
print("Total medecine purchased are {} ".format(tp))
mny_r=patient_gv-tp
print("Refunded money is:",mny_r)

Total price of paracetamol 70
Total price of azithromycin 147
Total price of Vitamin C 165
Total medecine purchased are 382
Refunded money is: 1618

Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example, I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [ ]:
a=input("Enter a string without any punctuation masrk")
b=["a","e","i","o","u", "A","E","I","O","U"]
c=0
for i in a:
  if i in b:
    c=c+1
  else:
    pass

print("It has {} vowels".format(c))

Enter a string without any punctuation masrkhi i am learning python
It has 7 vowels

: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible, your output should be ‘Congrats! You are eligible’; otherwise, it should tell that you have to return after X number of years. The eligibility criteria for voting is 18 years.

In [ ]:
a=int(input("Enter your age"))
if a>=18:
  print("Congrats!")
else:
  b=18-a
  print("return after {} years. The eligibility criteria for voting is 18 years." .format(b))

Enter your age16
return after 2 years. The eligibility criteria for voting is 18 years.

: Given a list of integers, find the cumulative sum of the elements of the list and store them in another list.



A = [1, 2, 3, 4, 5]



Output:

[1, 3, 6, 10, 15]

In [ ]:
A = [1, 2, 3, 4, 5]

a=0
b=[]
for i in A:
  if i%2==0:
    c=b.append(i)
print(b)

[2, 4]

WAP to encode a message entered by user as per below conditions:



for every word in the sentence,

1. If the word starts with a vowel, encode it as the first and last letter of the word.

2. If the word starts with a consonant, remove all vowels from it.



Ensure the case insensitive comparisons/checks are performed.



Please enter your text:The quick brown fox used to sleep inside this box

Encoded Msg: Th qck brwn fx ud t slp ie ths bx

In [ ]:
a=str(input("Please enter your text : "))
b=a.lower()
c=b.split()
e=[]
d=["a","e","i","o","u"]

for i in c:
    if i[0] in d:
        x=i[0]+i[-1]
        e.append(x)
    else:
        g=i
        for j in d:
            g=g.replace(j,"")
        e.append(g)
f=" ".join(e)
print (f)

Please enter your text : hi how are you
h hw ae y

Write a program to implement run length encoding of a string



RLE:Consecutive repetition of a character has to be replaced with the count of occurrences and the character.



Enter your string :aabbbccdddae

Encoded: 2a3b2c3d1a1e

In [ ]:
a=input("Enter your string ")
final_string=""
count=1
for i in range(1,len(a)):
  if a[i]==a[i-1]:

    count+=1
  else:
    final_string+=str(count)+a[i-1]

    count=1
final_string+=str(count)+a[-1]
print(final_string)

Enter your string aaabbb
3a3b

0
1
2
3
4
5
6
7
8
9